<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >

      <div>
        <label for="body_box">
          Comment
        </label>

        <textarea id="body_box" name="query_body"><%= @the_comment.body %></textarea>
      </div>


      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
